@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --main-bg-color: #101010;
    --grey: #1e1e1e;
    --grey-medium: #2c2c2c;
    --off-white: #e5e5e5;
    --text-dark: #000000;
    --text-light: #ffffff;
  }

  body {
    @apply bg-[--main-bg-color] text-[--text-light];
  }

  .h1 {
    @apply text-[2.8rem] md:text-[6rem] font-bold leading-[120%];
  }
  .h2 {
    @apply text-[2rem] md:text-[5rem] font-bold leading-[120%];
  }
  .h3 {
    @apply text-[4rem] font-bold leading-[120%];
  }
  .h4 {
    @apply text-[3rem] font-bold leading-[120%];
  }
  .h5 {
    @apply text-[2rem] font-bold leading-[120%];
  }
  .h6 {
    @apply text-[1.3rem] md:text-[1.5rem] font-bold leading-[90%];
  }

  .a {
    @apply text-[#ffffff] text-[1.3rem];
  }

  .p {
    @apply text-[#ffffffcc] font-normal max-w-[43rem] font-archivo leading-[110%];;
  }

  .p.large {
    @apply text-[1.5rem];
  }
  .p.medium {
    @apply text-[1.25rem];
  }
  .p.regular {
    @apply text-[1.125rem];
  }
  .p.small {
    @apply text-[1rem];
  }

  .logos {
    @apply rounded;
  }
  
  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base bg-[#1e1e1e] text-white rounded-full border-[2px] text-[1.25rem] transition-all duration-500;
  }
  .btn:hover{
    @apply bg-[#fff] text-[#1e1e1e];
  }
  .btn_light {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base bg-white text-[#1e1e1e] rounded-full border-[2px] text-[1.25rem] transition-all duration-500;
  }
  .btn_light:hover {
    @apply bg-[#1e1e1e] text-white;
  }
  .grid_box {
    @apply p-[2rem] pr-[1.25rem] min-h-[12rem] gap-[1.25rem] bg-cover rounded-[2.5rem] flex flex-col;
  }
  .left_top {
    @apply bg-[linear-gradient(rgba(19,19,19,0.5),rgba(19,19,19,0.2)),url('/ser1.webp')] bg-[auto,cover];
  }
  .right_top {
    @apply bg-[linear-gradient(rgba(19,19,19,0.5),rgba(19,19,19,0.2)),url('/ser2.webp')] bg-[auto,cover];
  }
  .left_bottom {
    @apply bg-[linear-gradient(rgba(19,19,19,0.5),rgba(19,19,19,0.2)),url('/ser3.webp')] bg-[auto,cover];
  }
  .right_bottom {
    @apply bg-[linear-gradient(rgba(19,19,19,0.5),rgba(19,19,19,0.2)),url('/ser4.webp')] bg-[auto,cover];
  }
  

  .project {
    @apply absolute -z-[1] bg-[#1e1e1e] w-full h-[0%] top-auto bottom-0 left-0 right-auto transition-all duration-300;
  }
  .project_title:hover > .project {
    @apply h-[100%];
  }
  
  .project_title {
    @apply transition-all duration-300;
  }

  .project_title:hover {
    @apply pl-6;
  }

  .project_image_container {
    @apply absolute h-[15rem] w-full max-w-[22.5rem] -top-[50%] -right-[2%] opacity-0 transition-all duration-75;
  }
  .project_image_container {
    transform: translate3d(0.005%, 50%, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(-1.5deg) skew(0deg, 0deg);
    transition: all ease-out;
    transition-duration: 400ms;
  }
  
  .project_image_container img {
    @apply w-full h-full object-cover rounded-lg;
  }

  .project_title:hover > .project_image_container {
    @apply opacity-100;
  }
  .project_title:hover > .project_image_container {
    transform: translate3d(16.0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-0.5deg) skew(0deg, 0deg);
  }

  .testimonial_img {
    @apply w-[30%] md:w-full max-w-[8.5rem] max-h-[8.5rem] scale-[0.85] opacity-40 border-[5px] border-[#2c2c2c] rounded-full cursor-pointer transition-all;
  }

  .testimonial_img.active {
    @apply scale-[1.0] opacity-100;
  }

  .social_link {
    @apply hover:text-[#ffffffcc] text-[1.2rem] md:text-[1.8rem] font-[600] transition-all;
  }

  .active_tab {
    @apply bg-[#2c2c2c];
  }

  .tab {
    @apply p-[20px] rounded-full transition-all duration-300 hover:bg-[#2c2c2c];
  } 

  .mtab {
    @apply p-[20px] rounded-full transition-all duration-300 hover:bg-[#2c2c2c];
  }

  .black {
    @apply bg-[--main-bg-color];
  }
  .grey {
    @apply bg-[--grey];
  }
  .grey_medium {
    @apply bg-[--grey-medium];
  }
  .off_white {
    @apply text-[--off-white];
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #131313;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  canvas {
    animation: upward 1.5s ease-in-out;
  }

  @keyframes upward {
    from {
      transform: translateY(300px);
    } to {
      transform: translateY(0px);
    }
  }
}